body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
  }

  .my-card {
    background-color: #c598f8;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0);
    padding: 30px;
    max-width: 400px;
    margin: 50px auto;
  }

  .my-title {
    font-size: 26px;
    font-weight: bold;
    color: #343a40;
    text-align: center;
  }

  .my-content {
    margin-top: 20px;
  }

  .my-item {
    margin-bottom: 15px;
  }

  .my-label {
    font-weight: bold;
    color: #495057;
  }

  .my-value {
    color: #6c757d;
  }

  .card-default-color {
    background-color: rgb(210, 154, 242);
  }